

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Domain = HttpContext.Current.Request.Url.Scheme + System.Uri.SchemeDelimiter + HttpContext.Current.Request.Url.Host + (HttpContext.Current.Request.Url.IsDefaultPort ? "" : ":" + HttpContext.Current.Request.Url.Port);

}

<div id="contentwrapper">
    <main role="main" id="main">
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content">
                    @*<h1>@Model.CampaignData.name</h1>*@
                    <p class="fontlatoregular" style="color: #666666; font-size: 15px; padding-top: 18px;">@Model.CampaignData.name</p>

                    <div class="plate plate-partner">
                        <div class="plate-partner-content">
                                <a href="#" style="display:block;width:100%;"><img src='@(Url.Content(Model.CampaignData.logo))' alt="Партнер" class="action-bg" style="width:100%"></a>
                        </div>

                        <div class="plate-partner-buttons">
                            <div class="buttons">
                                <a href='/Actions/Poses/@ViewContext.RouteData.Values["id"].ToString()'><button class="btn" type="button">Адреса</button></a>
                                @if (Model.CampaignData.internetShop != null)
                                {
                                    <a href="@Model.CampaignData.internetShop" target="_blank"><button class="btn" type="button">На сайт</button></a>
                                }
                                <!-- unauth star template //-->
                                @if (UserSession.user_id > 0)
                                {
                                    <div class="star-holder @((Model.CampaignData.isFav) ? "star-checked" : "")">
                                        <a href="#" data-toggle="tooltip" title="" class="star-half" data-original-title="Добавить в избранное" data='@Model.CampaignData.id'></a>
                                        <a href="#" data-toggle="tooltip" title="" class="star-full" data-original-title="Удалить из избранного" data='@Model.CampaignData.id'></a>
                                    </div>
                                }
                                else
                                {
                                    <div class='star-holder star-unauth'>
                                        <a href="#" data-toggle="modal" data-target="#login-modal" class="star-half"></a>
                                    </div>
                                }
                            </div>

                            <div class="social">
                                <a href="#" id="share-fb-button"><img src="/gfx/interface/footer-soc-fb.png" alt="Facebook"></a>
                                <a href="#" id="share-vk-button"><img src="/gfx/interface/footer-soc-vk.png" alt="VKontakte"></a>
                                <a href="#" id="share-ok-button"><img src="/gfx/interface/footer-soc-ok.png" alt="Одноклассники"></a>
                            </div>
                        </div>

                        <div class="plate-desc" style="width:100%;">
                            <p>@Html.Raw(Model.CampaignData.description)</p>
                            <div class="text-center" style="width:100%">
                                <h1 style="color:#33403F;width:100%;">Условия акции</h1><br />
                                <p>@Html.Raw(Model.CampaignData.condition)</p>
                            </div>
                        </div>
                        </div>
                    <div class="content-bg">
                        @Html.Partial("_actionAdditionalBlock", (List<PlizCard.lcsite.CampaignInfo>)API.GetCampaign_Info(int.Parse(ViewContext.RouteData.Values["id"].ToString())))
                    </div> <!--  закоментировал тестовый блок 1-2-3
                    <div class="content-bg">
                        <div class="ordered-list">
                            <h2><span>1</span>Стань участником</h2>
                            <div>
                                <p>Получи Пластиковую карту у наших <a href="/Partners" style="text-decoration:underline;">Партнеров</a> заполнив небольшую анкету участника.</p>
                                <p>Загрузи наше мобильное приложение <a href="/MobileApplication" style="text-decoration:underline;">«ПОЖАЛУЙСТА»</a> и пройди простую регистрацию.</p>
                                <p>Получи Виртуальную карту прямо сейчас, <a href="#"  data-toggle="modal" data-target="#register-modal" style="text-decoration:underline;">зарегистрировавшись</a> на нашем сайте.</p>
                            </div>
                        </div>
                        <div class="ordered-list">
                            <h2><span>2</span>Накапливай Бонусы</h2>
                            <div>
                                <p>Предъяви карту или назови свой номер мобильного телефона при совершении покупок у наших <a href="/Partners" style="text-decoration:underline;">Партнеров</a> и получи до 50% бонусов от суммы покупки (1 <span class="star-span"></span> = 1 рубль скидки).</p>
                                <p>Бонусы автоматически зачислятся на личный счет.</p>
                            </div>
                        </div>
                        <div class="ordered-list ordered-list">
                            <h2><span>3</span>Используй Бонусы</h2>
                            <div>
                                <p>Выбери товары или услуги.</p>
                                <p>Предъяви карту или назови свой номер мобильного телефона, озвучь продавцу количество Бонусов, которое собираешься использовать.</p>
                                <p>Получи скидку до 99%.</p>
                            </div>
                        </div>
                        <div class="form-center-item">
                            <div>
                                <p>
                                    <b>1 <span class="star-span"></span> = 1 рубль скидки</b><br />
                                    Если на Вашем счету есть Бонусы, это значит, что у Партнеров программы «ПОЖАЛУЙСТА» можно обменять свои Бонусы на скидку в размере до 99% от стоимости покупки.
                                </p>
                                <br />
                                @if (UserSession.user_id > 0)
                                {
                                <a href="/MyCards"><button type="button" class="btn">Получить Виртуальную карту</button></a>
                                }
                                else
                                {
                                    <a href="#" data-toggle="modal" data-target="#register-modal"><button type="button" class="btn">Получить Виртуальную карту</button></a>
                                }
                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="twocolumns-aside">
@Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>

@{ 
        var link = Domain + "/Actions/Details/"+@ViewContext.RouteData.Values["id"].ToString();
}

<script>
    $(function () {
        $("#share-fb-button").click(function () {
            Share.facebook ('@link', '@Model.CampaignData.name.Replace("'","\"")','@Model.CampaignData.logo', '@Model.CampaignData.description.Replace("\n"," ").Replace("'","\"")');
        });
        $("#share-vk-button").click(function () {
            Share.vkontakte('@link', '@Model.CampaignData.name.Replace("'","\"")','@Model.CampaignData.logo', '@Model.CampaignData.description.Replace("\n"," ").Replace("'","\"")');
        });
        $("#share-ok-button").click(function () {
            Share.odnoklassniki('@link', '@Model.CampaignData.name.Replace("'","\"")','@Model.CampaignData.logo', '@Model.CampaignData.description.Replace("\n"," ").Replace("'","\"")');
        });
    });

</script>