

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = 0;
    int.TryParse(ViewContext.RouteData.Values["id"].ToString(), out id);
    PlizCard.lcsite.GetCampaignResponse p = ApiConfig.GetCampaign(id);
}
<div id="contentwrapper">
    <main role="main" id="main">
        <section class="content-medium">
            <div class="twocolumns">
                <div class="twocolumns-content"  style="padding-top:23px;">
                    @*<h1><a href='/Actions/Details/@ViewContext.RouteData.Values["id"].ToString()'>@p.CampaignData.name</a> > Торговые точки</h1>*@
                    <a class="fontlatoregular" style="font-size: 15px;" href='/Actions/Details/@ViewContext.RouteData.Values["id"].ToString()'>@p.CampaignData.name</a>
                    <div class="content-bg">
                        <div id="map-switch-list" class="block-toggle">
                            <a id="map-switch-point" class="header-link action-blocks-toggle" data-toggle-class="block-toggle" href="#">посмотреть на карте</a>
                            <div class="plate">
                                

                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.CampaignDetailData)
                                {

                                    <div class='list @((i%2==0)?"list-odd":"list-even")'>
                                        <b>@item.campaign</b> @item.city, @item.address @item.phone
                                        <a href="#" class="list-card"><img src="/gfx/interface/card.png" /></a>
                                        <span class="getcoords" style="display:none" data='<b>@item.campaign</b><br/>@item.city, @item.address <br/>@item.phone'>@item.mapposition</span>
                                    </div>
                                    i++;
                                }


                            </div>
                        </div>
                        <div id="map-switch-map" class="block-toggle active">
                            <a style="font-size: 15px;" id="map-switch" class="header-link action-blocks-toggle fontlatoregular" data-toggle-class="block-toggle" href="#">Список</a>
                            <div id="map"></div>
                        </div>

                        <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"> </script>
                        <script>
								var myMap;
								ymaps.ready(function () {
								    myMap = new ymaps.Map("map", {
								        center: [55.76, 37.64],
								        zoom: 10,
								    }, { suppressMapOpenBlock: true });

								    myMap.controls.add("mapTools")
                                    .add("zoomControl");

								    $("span.getcoords").each(function () {
									    var c = $(this).text().replace(" ","");
									    var cc = c.split(",");
									    console.log(cc);
									    var placemark = new ymaps.Placemark(cc, {
									        balloonContent: $(this).attr("data")
									    });
//									    placemark.name = "Акция";
	//								    placemark.description = $(this).attr("data");
									    myMap.geoObjects.add(placemark);
									    myMap.setCenter([cc[0], cc[1]], 16, {
									        checkZoomRange: true
									    });
									});

								});
                        </script>
                    </div>
                </div>
                <div class="twocolumns-aside">
                    @Html.Partial("_leftcolumnActions")
                </div>
            </div>
        </section>
    </main>
</div>

