
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #clientsTable_length label {
        display: flex;
    }

    .table-length span {
        color: #fff !important;
    }

    .table-length div {
        cursor: pointer !important;
        position: relative !important;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out !important;
        transition: all 0.2s ease-in-out !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        white-space: nowrap !important;
        display: inline-block !important;
        vertical-align: middle !important;
        background-color: #58AEDC !important;
        width: 150px !important;
        border: none !important;
        color: #fff !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px !important;
        padding: 0px 5px 0px 15px !important;
        height: 36px !important;
        line-height: 36px !important;
        font-weight: 400 !important;
        font-family: 'a_FuturicaMedium' !important;
        font-size: 16rem !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        outline: none !important;
        margin: auto 0 !important;
    }

    .table-length .nice-select {
        width: 65px !important;
        margin-top: 6px !important;
        float: left !important;
    }
</style>



@section ContentHeaderNav
{
    @if (ViewBag.RoleName.Contains("OperatorBonusAdd"))
    {
        <li><a href="" id="HandBonusAdd"><img src="../img/plus.png" alt="addbonus"><span>Начислить бонусы</span></a></li>
    }
    @if (ViewBag.RoleName.Contains("OperatorBonusRedeem"))
    {
        <li><a href="" id="HandBonusRedeem"><img src="../img/minus.png" alt="message"><span>Списать бонусы</span></a></li>
    }
    @if (!ViewBag.RoleName.Contains("OperatorBonusAdd") && !ViewBag.RoleName.Contains("OperatorBonusRedeem"))
    {
        <li><a style="visibility:hidden;">.</a></li>
    }
    @if (ViewBag.RoleName.Contains("ActivateCard"))
    {
        <li><a href="#" id="activateCard"><img src="../img/plus.png" alt="addclient"><span>Активировать карту</span></a></li>
    }
}

@section ContentHeader
{
    @*<div class="client_nav">
        @if (ViewBag.RoleName.Contains("BonusNoChequeList"))
        {
            <div><div>?<p>В данном разделе можно фильтровать и просматривать информацию по бонусам не относящимся к покупкам.</p></div><a href="#allbonuses" class="this-p">Все бонусы</a></div>
        }
        <div style="float: right"><p>Всего бонусов: <span id="bonusesCount"></span></p></div>
    </div>*@
    
<div class="filters">
    <p>Показать бонусы с </p>
    <input type="text" name=" date-item" class=" zbz-input-clearable datepicker" id="dateFrom">
    <p> по </p>
    <input type="text" name="date-item " class=" zbz-input-clearable datepicker" id="dateTo">
    <div class="table__clear_meu">
        <p class="clear-date" id="claerDate">Сбросить даты</p>
        <p id="claerAllFilters">Сбросить все фильтры</p>
    </div>
</div>
}

<section class="table-min-width">
    <div class="form-terminal__tabs-content">
        @if (ViewBag.RoleName.Contains("BonusNoCheque"))
        {
            <div id="allbonuses" class="@(ViewBag.RoleName.Contains("BonusNoCheque") ? "active" : "")" style="margin-bottom: 100px">
                <div class="datatables-div">
                    <table id="clients-bonuses" class="display selling hl-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th><p>Дата</p></th>
                                <th><p>Тип бонуса</p></th>
                                <th><p>Начислено</p></th>
                                <th><p>Списано</p></th>
                                <th><p>Сгорело</p></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>



                    @*<table id="clientsTable" class="display clientlist" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><p>ФИО клиента</p></th>
                                    <th><p>Телефон</p></th>
                                    <th><p>E-mail</p></th>
                                    <th><p>Дата рождения</p></th>
                                    <th><p>Пол</p></th>
                                    <th><p>Тип клиента</p></th>
                                    <th><p>Номер карты</p></th>
                                    <th><p>Поощрение</p></th>
                                    <th><p>Баланс</p></th>
                                </tr>
                            </thead>
                        </table>*@
                    <div class="page-navigation">
                        <div class="table__download_meu">
                            <div>?<p style="font-family: 'a_Futurica';  text-align: left;">Клиентская база с возможностью фильтрации и формирования списка номеров телефонов и карт.</p></div>
                            @*<a href="">CSV</a>*@
                            @using (Html.BeginForm("OperatorClientReport", "Home", FormMethod.Post, new { id = "export-clients-to-file-form", style = "display: flex" }))
                            {
                                @Html.Hidden("fio", string.Empty)
                                @Html.Hidden("phone", string.Empty)
                                @Html.Hidden("email", string.Empty)
                                @Html.Hidden("birthdate", string.Empty)
                                @Html.Hidden("sex", string.Empty)
                                @Html.Hidden("type", string.Empty)
                                @Html.Hidden("card", string.Empty)
                                @Html.Hidden("level", string.Empty)
                                @Html.Hidden("balance", string.Empty)
                                <p>Скачать клиентскую базу: </p>
                                <a href="#" id="export-clients-to-file">XLSX</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        var tableBonuses;
        var serchingRowBonuses = false;

        $(function () {
            tableBonuses = $('#clients-bonuses').DataTable({
                "searchDelay": 1000,
                "serverSide": true,
                //"lengthChange": false,
                "info": false,
                "ajax":
                {
                    method: "POST",
                    url: "../Bonus/GetBonuses",
                    data: function (params) {
                        params.date_from = $("#dateFrom").val();
                        params.date_to = $("#dateTo").val();
                    }
                },
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        //"defaultContent": '<img src="../img/tableiconopen.png"><br/><i class="details-arrow"></i>'
                        "defaultContent": '<i class="details-arrow"></i>'
                    },
                    { "data": "date" },
                    { "data": "type" },
                    { "data": "added" },
                    { "data": "redeemed" },
                    { "data": "fireed" },
                ],
                "ordering": false,
                initComplete: function () {
                    $("#clients-bonuses_length").appendTo($(".filters"));
                    $("#clients-bonuses_length").css('display', 'flex');
                    this.api().columns([1]).every(function () {
                        addInputFilterWoAuto(this, ' datepicker');
                    });
                    this.api().columns([2]).every(function () {
                        addSelectFilter(this);
                    });
                    this.api().columns([3, 4, 5]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .bind('keyup change', function () {
                                column.search($(this).val());
                                tableBonuses.draw();
                            });
                        select.append('<option value="1-100">1-100</option>');
                        select.append('<option value="100-500">100-500</option>');
                        select.append('<option value="500-1000">500-1000</option>');
                        select.append('<option value="1000-9000">1000-9000</option>');
                    });
                    niceSelect();
                    $(".nice-select ul.list li.focus").removeClass('focus');
                }
            });

            tableBonuses.on("draw", function () {
                if (serchingRowBonuses) {
                    if (!$("#clients-bonuses tbody tr:first-child td:first-child").hasClass('dataTables_empty')) {
                        $("#clients-bonuses tbody tr:first-child td:first-child").trigger('click');
                        serchingRowBonuses = false;
                    }
                }
            });

            $("#clients-bonuses tbody").on('click', 'tr.odd td, tr.even td', function () {
                var tr = $(this).closest('tr');
                var row = tableBonuses.row(tr);
                showHideRow(tr, row, format);
            });

        });
    </script>
}