<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Партнер</th>
            <th>Карта</th>
            <th>Номер чека</th>
            <th>Начислено</th>
            <th>Списано</th>
            <th>Детали</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Partner</td>
                <td>@item.CardNumber</td>
                <td>@item.Number</td>
                <td>@item.Bonus</td>
                <td>@item.PaidByBonus</td>
                <td><a href="/MyOrders/Details/@item.Id" data='@item.Id' class="cheque-record-info"><img src="/gfx/interface/info.png" /></a></td>
            </tr>
        }

    </tbody>
</table>
