@{
    int i = 0;
    var p = API.getPartners(true);
    
}
@foreach (var item in Model)
{
    
    <div class='list @((i%2==0)?"list-odd":"list-even")'>
        @item.city, @item.address @item.phone
        <a href="#" class="list-card"><img src="/gfx/interface/card.png" /></a>
        <span class="getcoords" style="display:none" data='<b>@item.partner</b><br/>@item.city, @item.address <br/>@item.phone'>@item.mapposition</span>
    </div>
    i++;
}
