<title>@Model.title</title>
<meta name="description" content="@Model.description" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="@Model.title">
<meta itemprop="description" content="@Model.description">
<meta itemprop="image" content="@Model.image">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Model.site">
<meta name="twitter:title" content="@Model.title">
<meta name="twitter:description" content="@Model.description">
<meta name="twitter:creator" content="">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="@Model.image">

<!-- Open Graph data -->
<meta property="og:title" content="@Model.title" />
<meta property="og:type" content="article" />
<meta property="og:url" content="@Model.site" />
<meta property="og:image" content="@Model.image" />
<meta property="og:description" content="@Model.description" />
<meta property="og:site_name" content="@Model.title" />
