@using LCManager.JWT

@{
    ViewBag.Title = "Сверка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style type="text/css">
        #bookkeeping .modal_ask {
            margin-left: 0 !important;
        }

        #bookkeeping thead tr th p {
            margin-left: 20px !important;
        }

        #bookkeeping .modal_ask span {
            font-family: 'a_Futurica' !important;
            text-align: left !important;
            font-size: 15rem !important;
        }

        #bookkeeping thead tr th .nice-select .list li {
            font-size: 12px !important;
        }
    </style>
}

@section ContentHeaderNav
{
    @if (ViewBag.RoleName.Contains("OperatorBonusAdd"))
    {
        <li><a href="" id="HandBonusAdd"><img src="../img/plus.png" alt="addbonus"><span>Начислить бонусы</span></a></li>
    }
    @if (ViewBag.RoleName.Contains("OperatorBonusRedeem"))
    {
        <li><a href="" id="HandBonusRedeem"><img src="../img/minus.png" alt="message"><span>Списать бонусы</span></a></li>
    }
    @if (!ViewBag.RoleName.Contains("OperatorBonusAdd") && !ViewBag.RoleName.Contains("OperatorBonusRedeem"))
    {
        <li><a style="visibility:hidden;">.</a></li>
    }
    @if (ViewBag.RoleName.Contains("ActivateCard"))
    {
        <li><a href="#" id="activateCard"><img src="../img/plus.png" alt="addclient"><span>Активировать карту</span></a></li>
    }
}

@section ContentHeader
{
    <div class="filters">
        <p>Показать расчеты с </p>
        <input type="text" name=" date-item" class=" zbz-input-clearable datepicker" id="dateFrom">
        <p> по </p>
        <input type="text" name="date-item " class=" zbz-input-clearable datepicker" id="dateTo">
        <div class="table__clear_meu">
            <p class="clear-date" id="claerDateBonuses">Сбросить даты</p>
            <p id="claerAllFilters">Сбросить все фильтры</p>
        </div>
        <div style="float: right"><p>Всего партнёров: <span id="bokepingcount" style="color: #00aeef;"></span></p></div>
    </div>
}

<section class="table-min-width">
    <div class="form-terminal__tabs-content">
        @if (ViewBag.RoleName.Contains("Total"))
        {
            <div id="allbonuses" class="@(ViewBag.RoleName.Contains("Total") ? "active" : "")" style="margin-bottom: 100px">
                <div class="datatables-div">
                    <table id="bookkeeping" class="display selling hl-table w100" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th><div class="modal_ask">?<span>Оператору в данном блоке отображаются все подключенные к ПЛ Партнеры. Партнеру в данном блоке отображаются все подклюенные к ПЛ точки продаж этого Партнера</span></div><p>Партнер</p></th>
                                


                                @if (JwtProps.GetOperator() > 0 && JwtProps.GetPartner() == 0)
                                {
                                    <th>
                                        <div class="modal_ask">?<span></span>
                                        </div>
                                        <p>Точка продаж</p></th>
                                }
                                
                                <th><div class="modal_ask">?<span>Оператору в данном блоке отображается выручка (деньги в кассу) отдельно взятого подключенного Партнера к ПЛ за период. Партнеру отображается выручка (деньги в кассу) отдельной взятой точки продаж этого Партнера, подключенной к ПЛ, за период</span></div><p>Выручка</p></th>
                                <th><div class="modal_ask">?<span>Оператору в данном блоке отображается сумма начисленных бонусов за покупки, по которым не было возврата, Партнерами ПЛ, за период. Партнеру отображается сумма начисленных бонусов за покупки, по которым не было возврата, в точках продаж этого Партнера, за период</span></div><p>Начислено</p></th>
                                <th><div class="modal_ask">?<span>Оператора в данном блоке отображается сумма списанных бонусов в покупки, по которым не было возврата, Партнерами ПЛ, за период. Партнеру отображается сумма списанных бонусов в покупки, по которым не было возврата, в точках продаж этого Партнера, за период</span></div><p>Списано</p></th>
                                <th><div class="modal_ask">?<span>Оператору в данном блоке отображается количество клиентов, которых зарегистрировал Партнер за период. Партнеру отображается количество клиентов, которых зарегистрировала каждая точка продаж этого Партнера, за период</span></div><p>Клиенты</p></th>

                            </tr>
                        </thead>
                    </table>

                    <div class="page-navigation">
                        <div class="table__download_meu">
                            <div>?<p style="font-family: 'a_Futurica';  text-align: left;">Скачать отчёт по сверке за период, с фильтрацией.</p></div>
                            @using (Html.BeginForm("BookkeepingReport", "Bookkeeping", FormMethod.Post, new { id = "export-bookkeeping-to-file-form", style = "display: flex" }))
                            {
                                @Html.Hidden("from", string.Empty)
                                @Html.Hidden("to", string.Empty)
                                @Html.Hidden("name", string.Empty)
                                @Html.Hidden("buys", string.Empty)
                                @Html.Hidden("added", string.Empty)
                                @Html.Hidden("redeemed", string.Empty)
                                @Html.Hidden("clients", string.Empty)
                                <p>Скачать отчет: </p>
                                <a href="#" id="export-bookkeeping-to-file">XLSX</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        var tableBookkeeping;
        var serchingRowBookkeeping = false;

        $("#dateFrom, #dateTo").on('change input', function () {
            tableBookkeeping.draw();
        });

        $("#claerDateBonuses").on("click", function () {
            clearDateBookkeepings();
        });

        function clearDateBookkeepings() {
            $("#dateFrom").val("").removeClass("zbz-input-clearable__x");
            $("#dateTo").val("").removeClass("zbz-input-clearable__x");
            tableBookkeeping.draw();
        }

        $("#export-bookkeeping-to-file").on("click", function (e) {
            e.preventDefault();
            $("#from").val($("#dateFrom").val());
            $("#to").val($("#dateTo").val());
            $("#name").val(tableBookkeeping.column(1).search());
            $("#buys").val(tableBookkeeping.column(2).search());
            $("#added").val(tableBookkeeping.column(3).search());
            $("#redeemed").val(tableBookkeeping.column(4).search());
            $("#clients").val(tableBookkeeping.column(5).search());
            $("#export-bookkeeping-to-file-form").submit();
        });

        $(function () {

            var columns = [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<img src="/img/tableiconopen.png">'
                },
                { "data": "caption" },
                { "data": "purchases" },
                { "data": "added" },
                { "data": "redeemed" },
                { "data": "clients" }
            ];

             
            @if (JwtProps.GetOperator() > 0 && JwtProps.GetPartner() == 0)
            {
                <text>columns.splice(2, 0, { "data": "posname" }); </text>
            }

            tableBookkeeping = $('#bookkeeping').DataTable({
                "searchDelay": 1000,
                "serverSide": true,
                "processing": true,
                "language": {
                    processing: '<div class="wrapper-for-loading-datatable"><img src="/img/loading-element-1.svg" alt="Alternate Text" /><span class="sr-only">Загрузка...</span></div>'
                },
                "ajax":
                {
                    method: "GET",
                    url: "../Bookkeeping/GetBookkeeping",
                    data: function (params) {
                        params.date_from = $("#dateFrom").val();
                        params.date_to = $("#dateTo").val();
                    }
                },
                "columns": columns,
                "ordering": false,
                "lengthChange": false,
                initComplete: function () {
                    //$("#bokepingcount").html(this.api().data().count());
                    $("#bokepingcount").html(tableBookkeeping.page.info().recordsTotal);
                    this.api().columns([1]).every(function () {
                        addInputFilter(this);
                    });
                    var i = 0;

                    @if (JwtProps.GetOperator() > 0 && JwtProps.GetPartner() == 0)
                    {
                        <text> i = 1; </text>
                    }


                    this.api().columns([2 + i]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .bind('keyup change', function () {
                                column.search($(this).val());
                                tableBookkeeping.draw();
                            });

                        select.append('<option value="0-5000">0 - 5 т.р.</option>');
                        select.append('<option value="5000-10000">5 т.р. - 10 т.р.</option>');
                        select.append('<option value="10000-50000">10 т.р. - 50 т.р.</option>');
                        select.append('<option value="50000-250000">50 т.р. - 250 т.р.</option>');
                        select.append('<option value="250000-500000">250 т.р. - 500 т.р.</option>');
                        select.append('<option value="500000-1000000">500 т.р. - 1 млн.р.</option>');
                        select.append('<option value="1000000-10000000">1 млн.р. - 10 млн.р.</option>');
                    });
                    this.api().columns([3 + i, 4 + i, 5 + i]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .bind('keyup change', function () {
                                column.search($(this).val());
                                tableBookkeeping.draw();
                            });

                        select.append('<option value="0-1000">0 - 1000</option>');
                        select.append('<option value="1000-5000">1000 - 5000 </option>');
                        select.append('<option value="5000-10000">5000 - 10000 </option>');
                        select.append('<option value="10000-50000">10000 - 50000 </option>');
                        select.append('<option value="50000-100000">50000 - 100000 </option>');
                        select.append('<option value="100000-500000">100000 - 500000</option>');
                    });
                    niceSelect();
                }
            });

            tableBookkeeping.on("draw", function () {
                if (serchingRowBookkeeping) {
                    if (!$("#bookkeeping tbody tr:first-child td:first-child").hasClass('dataTables_empty')) {
                        $("#bookkeeping tbody tr:first-child td:first-child").trigger('click');
                        serchingRowBookkeeping = false;
                    }
                }
            });

            $('#bookkeeping tbody').on('click', 'tr.odd td, tr.even td', function () {
                var tr = $(this).closest('tr');
                var row = tableBookkeeping.row(tr);
                showHideRow(tr, row, bookkeepingData);
            });
        });
    </script>
}